.login-box{
    padding:10px;
    margin-left:-1px;
    margin-right:-1px;
    border-bottom:1px solid #008f9c;
    background:#008f9c; 
    font-family: Source Sans Pro;
    font-size: 28px;
    font-weight: 400;
    color: #94c23f; 
    color:white
}